.status-refreshing-true {
    animation: spin 2s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}

.status-refreshing-table-true {
    opacity: 0.5;
}

.status-refreshing-table-false {
    opacity: 1;
}

.status-online-true {
    padding: 4px;
    background-color: green;
    color: white;
    border-radius: 5px;
    font-weight: 600;
}

.status-online-false {
    padding: 4px;
    background-color: #d40000;
    color: white;
    border-radius: 5px;
    font-weight: 600;
}


