.plan-canvas-container {
    border: 1px solid gray;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

.plan-panel-container {
    border: 1px solid gray;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

.plan-auxplot-container {
    border: 1px solid gray;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

#main-map-canvas {
    border: 1px solid blue;
}

#current-task-box {
	padding: 4px;
	background-color: #2a2;
	color: #fff;
	border-radius: 5px;
	font-weight: 600;
}

#all-tasks-list {
    height: 300px;
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
}